//-MUI layout + view

.mui-appbar
	//-+route_selector

	table(width="100%")
		tr(style="vertical-align:middle;")
			td.mui-appbar-height
				+search
.app.mui-container-fluid
	.view
		+Template.dynamic template=view