template(name='route_selector')
	.mui-dropdown
		button.mui-btn.mui-btn-default(data-mui-toggle='dropdown')
			|dropdown
			span.mui-caret
		ul.mui-dropdown-menu
			li
				a(href='#')
					|1

template(name='search')
	div.mui-btn.mui-btn-default.search
		i.fa.fa-search
		input(type='text' placeholder='Search').search-input