template(name='route_selector')
	.mui-dropdown
		button.mui-btn.mui-btn-default(data-mui-toggle='dropdown')
			|dropdown
			span.mui-caret
		ul.mui-dropdown-menu
			li
				a(href='#')
					|1

template(name='search')
	div.mui-btn.mui-btn-default
		span.search-icon.search-icon-dark
		input(type='text').mui-form-control