.search-input {
	border: none;
	width: 100%;
}

.search {
	cursor: text;
	width: 40%;
}

.search-table {
	align: center;
}

.left {
	width: 30%;
	height: 10px;
	float: left;
}
input:focus{
    outline: none;
}
.sim-list {
	width: 100%;
}
.sim img {
	width: 100%;
}
.sim p {
	text-align: center;

}
.sim {
	width: 13vw;
	height: 13vw;
	float: left;
body {
	background-color: #DFEFFF;
}
.hidden {
	display: none;
}
